[submodule "Ubuntu-Petalinux-Zybo"]
	path = Ubuntu-Petalinux-Zybo
	url = git@github.com:justinnuwin/Ubuntu-Petalinux-Zybo.git
[submodule "tutorial6"]
	path = tutorial6
	url = git@github.com:justinnuwin/Ubuntu-Petalinux-Zybo.git
